body
{
font-family:cursive;
background-image: url(https://static.wikia.nocookie.net/glitchtale/images/8/8b/Undertale-war.png/revision/latest?cb=20181028000222&path-prefix=es);
background-repeat:no-repeat;
background-size: cover;
background-attachment: fixed;
}
ul
{
list-style: none ;
padding: 0;
margin: 0;
background:orange;
line-height: 30px;
width: 180px;
border-bottom: none;
}

li
{
width: 122px;
display: inline-block;
text-align: center;
}

a
{
text-decoration:none;
display: block;
color:#E3DAC9;
}

a:hover
{
background:lightyellow;
color:black;
}

*{
	margin:0 ;
	padding:0;
}
header
{
width:101%;

}

nav
{
margin:20px auto;
width:90%;
max-width:1000px ;
}

nav ul 
{
list-style:none;
}

nav > ul
{
display:table;
overflow:hidden;
width:100%;
position:relative;
}

nav > ul li
{
display: table-cell;
}

nav > ul >li > ul
{
display:none;
}

nav > ul li a
{
display: block;
line-height: 40px;
padding:7px;
position: relative;
text-align: center ;
text-decoration:none;
color:white ;
}

 nav > ul > li:hover > ul
{
 display: block;
 height: 100%;
}

footer
{
font-family: monospace;
font-size:20px;
color:white;
width:2000px;
padding:16px;
background:orange;
}

h1, h2, h3
{
font-family: cursive;
font-size:32px;
color:gold;	
}

p
{
font-family: cursive;
font-size:25px;
color:lightgoldenrodyellow;		
}

@media screen and (max-width: 800px)
{
header nav {
    width:103%;
    height:100%;
    left:100%;
    margin:0;
    position: absolute;

  }

  header nav ul li {
    display:block;
    float:none;
    border-bottom:2px solid rgba(255,255,255, .3);
  }

  .menu_bar {
    display:block;
    width:105%;
    position: static;
  }

  .menu_bar .bt-menu {
    display:block;
    padding:20px;
   background: orange;
    color:white;
    text-decoration:none;
    font-weight: bold;
    font-size:25px;
    font-family: cursive;
  }

  .menu_bar span {
    float:right;
    font-size:40px;
  }

  footer
{
font-family: monospace;
font-size:20px;
color:white;
width:500px;
padding:16px;
background: orange;
}

td
{
border: 3px solid;
font-family:cursive ;
color: black;
padding: 3px;
}

th
{
font-family: cursive;
padding: 3px;
background-color:blue;
color:black;
}
}