body
{
font-family: cursive;
background-image: url(https://img3.pillowfort.social/posts/ee18d37360a1_baxter01.png);
background-repeat:no-repeat;
background-size: cover;
background-attachment: fixed;
}

ul
{
list-style: none ;
padding: 0;
margin: 0;
background:black;
line-height: 30px;
width: 180px;
border-bottom: none;
}

li
{
width: 122px;
display: inline-block;
text-align: center;
}

a
{
text-decoration:none;
display: block;
color:red;
}

a:hover
{
background:blue;
color:orange;
}

*{
	margin:0 ;
	padding:0;
}
header
{
width:101%;

}

nav
{
margin:20px auto;
width:90%;
max-width:1000px ;
}

nav ul 
{
list-style:none;
}

nav > ul
{
display:table;
overflow:hidden;
width:100%;
position:relative;
}

nav > ul li
{
display: table-cell;
}

nav > ul >li > ul
{
display:none;
}

nav > ul li a
{
display: block;
line-height: 40px;
padding:7px;
position: relative;
text-align: center ;
text-decoration:none;
color:white ;
}

 nav > ul > li:hover > ul
 {
 display: block;
 height: 100%;
 }

footer
{
font-family: monospace;
font-size:22px;
color:white;
width:2000px;
padding:16px;
background:black;
}

h1, h2, h3, h4
{
font-family: cursive;
font-size:32px;
color:ghostwhite;
}

p.wd
{
font-family: cursive;
font-size:26px;
color:ghostwhite;
}

@media screen and(max-width: 800px)
{
header nav {
    width:103%;
    height:100%;
    left:100%;
    margin:0;
    position: absolute;

  }

  header nav ul li {
    display:block;
    float:none;
    border-bottom:2px solid rgba(255,255,255, .3);
  }

  .menu_bar {
    display:block;
    width:105%;
    position: static;
  }

  .menu_bar .bt-menu {
    display:block;
    padding:20px;
   background: black;
    color:white;
    text-decoration:none;
    font-weight: bold;
    font-size:25px;
    font-family: cursive;
  }

  .menu_bar span {
    float:right;
    font-size:40px;
  }

  footer
{
font-family: monospace;
font-size:20px;
color:white;
width:500px;
padding:16px;
background: black;
}
}